{% extends 'base.html' %}
{% block main %}
    <main>
        <div class="mainClass">
            <div class="welcomeClass">
                <div class="block1">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="../static/media/01.jpg" alt=""></a>
                        </div>
                        <div class="info">
                            <a href="#" class="btn btn-warning"><i class="bi bi-circle-fill"></i> Templates</a>
                            <a href="#">Time' person is on</a>
                        </div>
                    </div>
                </div>
                <div class="block2">
                    <div class="float1">
                        <div class="box">
                            <div class="img">
                                <a href="#"><img src="../static/media/01.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <a href="#" class="btn btn-warning"><i class="bi bi-circle-fill"></i> Templates</a>
                                <a href="#">Time' person is on</a>
                            </div>
                        </div>
                    </div>
                    <div class="float2">
                        <div class="box">
                            <div class="img">
                                <a href="#"><img src="../static/media/01.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <a href="#" class="btn btn-warning"><i class="bi bi-circle-fill"></i> Templates</a>
                                <a href="#">Time' person is on</a>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <a href="#"><img src="../static/media/01.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <a href="#" class="btn btn-warning"><i class="bi bi-circle-fill"></i> Templates</a>
                                <a href="#">Time' person is on</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcomeClassMob">
                <div class="box">
                    <div class="img">
                        <a href="#"><img src="../static/media/01.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <a href="#" class="btn btn-warning"><i class="bi bi-circle-fill"></i> Templates</a>
                        <a href="#">Time' person is on</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}